body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

#score {
    margin-top: 20px;
    background: white;
    padding: 20px;
}

#stopPanel {
    background: #222;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    text-align: left;
    margin: auto;
}
#stopPanel label {
    display: block;
    padding: 5px 0;
}
